*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Inter", san-serif;
  background-color: rgba(18, 18, 18, 1);
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url("./images/mvwl-hero-img.png");
  background-color: rgb(75, 75, 75);
  background-size: cover;
  background-position: center 22%;
  background-blend-mode: multiply;
  padding: 4.018rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin: 2.2rem;
  color: rgba(255, 255, 255, 1);
}
.navbar__title {
  font-size: 42.79px;
  font-weight: 800;
}
.navbar__link {
  text-decoration: none;
  font-weight: 700;
}

.navbar__link:visited {
  text-decoration: none;
  color: inherit;
}

/* .search {
  background-color: white;
  color: rgba(55, 65, 81, 1);
  margin-bottom: -5.5rem;
  width: 462px;
} */

.search__form {
  display: flex;
  align-items: stretch;
  border-radius: 6px;
  overflow: hidden;
  width: 462px;
  margin-bottom: -5.5rem;
  background-color: rgba(46, 46, 47, 1);
}

.search__form label {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#search-icon {
  width: 1rem;
}

#search-bar {
  flex: 1;
  font-size: 14px;
  border: none;
  padding: 1rem 0.1rem;
  outline: none;
  background-color: rgba(46, 46, 47, 1);
  color: rgba(165, 165, 165, 1);
}

.search__btn {
  font-size: 14px;
  border: none;
  padding: 1rem 2.35rem;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  background-color: rgba(75, 75, 75, 1);
  transition: background-color 0.2s ease;
}

.search__btn:hover {
  background-color: rgba(46, 46, 47, 1);
  /* background-color: rgba(243, 244, 246, 1); */
}

.main {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 62px;
}

.default-background {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(46, 46, 47, 1);
}

.fa-film {
  font-size: 4rem;
}

.default-background__text {
  font-size: 18px;
  font-weight: 700;
}

.movies-section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies {
  display: flex;
  width: 462px;
  gap: 21px;
  border-bottom: 1.5px solid #2c2c2c;
  padding: 1.8rem 0;
}

.movies__poster {
  width: 99px;
}

.movies__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movies__description--title {
  font-size: 18px;
}

.movies__description--info {
  font-size: 12px;
}

#movie-time {
}

#movie-genre {
}

.movies__description--plot {
  color: #a5a5a5;
  font-size: 14px;
}
